.circle {
  transform: rotate(-90deg);
  transform-origin: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.time-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1rem;
}

.button-box i {
  height: 2rem;
  width: 4rem;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.unclickable {
  pointer-events: none;
}

.button-box i:hover {
  color: red;
}

.button-box button {
  background: none;
  border: none;
}

#duration {
  font-size: 4rem;
  max-width: 13rem;
  border: none;
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 450px) {
  .main-container svg {
    height: 200px;
    width: 200px;
  }

  .main-container .circle {
    r: 90;
    cx: 100;
    cy: 100;
    stroke-width: 10;
  }
  #duration {
    font-size: 2rem;
    max-width: 7rem;
  }

  .button-box i {
    height: 1.3rem;
    width: 2rem;
    font-size: 2rem;
  }
}
